html,

body {
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn {
  @apply  py-2 px-8  border-opacity-0 transition duration-300 hover:text-pumpkin;
}
.btn-white {
  @apply bg-black dark:bg-gallery-50 text-pumpkin    text-opacity-80 ;
}

